name: pub
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-[0-9]+
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: main
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "*"
          registry-url: https://registry.npmjs.org
          cache: pnpm
      - run: |
          pnpm i
          pnpm build
          pnpm version '${{ github.ref_name }}' --no-commit-hooks --no-git-tag-version --allow-same-version
      - name: push
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: package.json
          commit_message: "chore: bump version to ${{ github.ref_name }}"
      - run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
