name: pub
on:
  push:
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
      - v[0-9]+.[0-9]+.[0-9]+-[0-9]+
jobs:
  release:
    runs-on: ubuntu-latest
    environment: publish
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: "*"
          registry-url: https://registry.npmjs.org
          cache: pnpm
      - run: pnpm i
      - run: pnpm build
      - run: pnpm version '${{ github.ref_name }}' --no-commit-hooks --no-git-tag-version --allow-same-version
      - run: pnpm publish --no-git-checks --tag $([[ '${{ github.ref_name }}' =~ '-' ]] && printf 'next' || printf 'latest')
